<div class="container">
  <div class="row w-100" style="margin-left: 30%;">
    <div class="col-12" style="margin-top: 10%;">
      <input [(ngModel)]="frase" style="width: 30%;" placeholder="Filtre por código, descrição e/ou centro de custo">
    </div>

    <div class="col" style="margin-top: 10px;">
      <button (click)="splitFrase()" style="margin-left: 80px;" class="btn btn-primary">Split</button>
      <button (click)="limparInput()" class="btn btn-secondary" style="margin-left: 50px;">Limpar</button>
      <p *ngFor="let palavra of palavras" class="mt-2" style="margin-left: 30px; margin-top: 15px;">{{ palavra }}</p>
    </div>
  </div>
</div>

<div *ngIf="palavras !== null">
  <pre>
    {{ palavras | json }}
  </pre>
</div>
